*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.buttonAdd{
    padding:0px 3px;
}
.buttonDisplay{
    padding:0px 3px;
}

.listColor ul{
    display:flex;
    list-style: none;
    justify-content: center;
}
.listColor ul li{
    padding:5px;
    background-color: chartreuse;
    margin: 5px;
    border-radius: 2px;
}
.listColor ul li:hover{
    cursor: pointer;
}
.textColor{
    font-size: 20px;
}